In [ ]:
# Lasso,ridge

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Read dataset and display columns

In [2]:
dataset=pd.read_csv("cruise_ship_info.csv")

In [3]:
dataset.head()

,Ship_name,Cruise_line,Age,Tonnage,passengers,length,cabins,passenger_density,crew
0,Journey,Azamara,6,30.277,6.94,5.94,3.55,42.64,3.55
1,Quest,Azamara,6,30.277,6.94,5.94,3.55,42.64,3.55
2,Celebration,Carnival,26,47.262,14.86,7.22,7.43,31.80,6.70
3,Conquest,Carnival,11,110.000,29.74,9.53,14.88,36.99,19.10
4,Destiny,Carnival,17,101.353,26.42,8.92,13.21,38.36,10.00

In [4]:
print("The Number of Row:",dataset.shape[0])
print("The Number of Column",dataset.shape[1])

The Number of Row: 158
The Number of Column 9

In [5]:
def segreQuanQual(dataset):
    quantative=[]
    qualtative=[]

    for i in dataset.columns:
    #print(i)
        if(dataset[i].dtypes =='object'):
            qualtative.append(i)
        else:
            quantative.append(i)
    print("The Quantitative Data:",quantative)
    print("The Qualtitative Data",qualtative)
    return quantative,qualtative

In [6]:
quantative,qualtative=segreQuanQual(dataset)

The Quantitative Data: ['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density', 'crew']
The Qualtitative Data ['Ship_name', 'Cruise_line']

In [7]:
#Descriptive Porcess
def descriptive_Analysis(dataset,quantative):
    des_data=pd.DataFrame(index=["Count","Mean","Median","Mode","Std","Min","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR","1.5Rule",
                            "Lesser","Greater"],columns=quantative)

    for i in quantative:
        des_data[i]["Count"]=len(dataset[i])
        des_data[i]["Mean"]=dataset[i].mean()
        des_data[i]["Median"]=dataset[i].median()
        des_data[i]["Mode"]=dataset[i].mode()[0]
        des_data[i]["Std"]=dataset[i].describe()["std"]
        des_data[i]["Min"]=dataset[i].describe()["min"]
        des_data[i]["Q1:25%"]=dataset[i].describe()["25%"]
        des_data[i]["Q2:50%"]=dataset[i].describe()["50%"]
        des_data[i]["Q3:75%"]=dataset[i].describe()["75%"]
        des_data[i]["Q4:100%"]=dataset[i].describe()["max"]
        des_data[i]["IQR"]=des_data[i]["Q3:75%"]-des_data[i]["Q1:25%"]
        des_data[i]["1.5Rule"]=1.5* des_data[i]["IQR"]
        des_data[i]["Lesser"]= des_data[i]["Q1:25%"]-des_data[i]["1.5Rule"]
        des_data[i]["Greater"]= des_data[i]["Q3:75%"]+des_data[i]["1.5Rule"]

    return des_data

In [8]:
des_Data=descriptive_Analysis(dataset,quantative)
des_Data

,Age,Tonnage,passengers,length,cabins,passenger_density,crew
Count,158,158,158,158,158,158,158
Mean,15.6899,71.2847,18.4574,8.13063,8.83,39.9009,7.79418
Median,14,71.899,19.5,8.555,9.57,39.085,8.15
Mode,12,70.367,20.52,9.51,9.75,34.29,9.2
Std,7.61569,37.2295,9.67709,1.79347,4.47142,8.63922,3.50349
Min,4,2.329,0.66,2.79,0.33,17.7,0.59
Q1:25%,10,46.013,12.535,7.1,6.1325,34.57,5.48
Q2:50%,14,71.899,19.5,8.555,9.57,39.085,8.15
Q3:75%,20,90.7725,24.845,9.51,10.885,44.185,9.99
Q4:100%,48,220,54,11.82,27,71.43,21
IQR,10,44.7595,12.31,2.41,4.7525,9.615,4.51
1.5Rule,15,67.1393,18.465,3.615,7.12875,14.4225,6.765
Lesser,-5,-21.1263,-5.93,3.485,-0.99625,20.1475,-1.285
Greater,35,157.912,43.31,13.125,18.0137,58.6075,16.755

In [9]:
def outliercolumn(quantative,des_data):
    lesser=[]
    greater=[]

    for i in quantative:
        if(des_data[i]["Lesser"]>des_data[i]['Min']):
            lesser.append(i)
        if(des_data[i]['Greater']<des_data[i]['Q4:100%']):
            greater.append(i)
        
    print("Lesser Range",lesser)
    print("Greater Range",greater)
    return lesser,greater

In [10]:
lesser,greater=outliercolumn(quantative,des_Data)

Lesser Range ['length', 'passenger_density']
Greater Range ['Age', 'Tonnage', 'passengers', 'cabins', 'passenger_density', 'crew']

In [11]:
# if outlier present run this
def changeoutlier(dataset,des_Data):
    for i in lesser:
        dataset[i][dataset[i]<des_Data[i]['Lesser']]=des_Data[i]['Lesser']
    #print(dataset[i])
    for j in greater:
        dataset[j][dataset[j]>des_Data[j]['Greater']]=des_Data[j]['Greater']
    return des_Data

In [12]:
change_Data=changeoutlier(dataset,des_Data)
change_Data

C:\Anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Age,Tonnage,passengers,length,cabins,passenger_density,crew
Count,158,158,158,158,158,158,158
Mean,15.6899,71.2847,18.4574,8.13063,8.83,39.9009,7.79418
Median,14,71.899,19.5,8.555,9.57,39.085,8.15
Mode,12,70.367,20.52,9.51,9.75,34.29,9.2
Std,7.61569,37.2295,9.67709,1.79347,4.47142,8.63922,3.50349
Min,4,2.329,0.66,2.79,0.33,17.7,0.59
Q1:25%,10,46.013,12.535,7.1,6.1325,34.57,5.48
Q2:50%,14,71.899,19.5,8.555,9.57,39.085,8.15
Q3:75%,20,90.7725,24.845,9.51,10.885,44.185,9.99
Q4:100%,48,220,54,11.82,27,71.43,21
IQR,10,44.7595,12.31,2.41,4.7525,9.615,4.51
1.5Rule,15,67.1393,18.465,3.615,7.12875,14.4225,6.765
Lesser,-5,-21.1263,-5.93,3.485,-0.99625,20.1475,-1.285
Greater,35,157.912,43.31,13.125,18.0137,58.6075,16.755

In [13]:
des_Data=descriptive_Analysis(dataset,quantative)
des_Data

,Age,Tonnage,passengers,length,cabins,passenger_density,crew
Count,158,158,158,158,158,158,158
Mean,15.5127,70.8774,18.3848,8.14269,8.77214,39.6185,7.75247
Median,14,71.899,19.5,8.555,9.57,39.085,8.15
Mode,12,70.367,20.52,9.51,9.75,34.29,9.2
Std,7.02293,35.9204,9.44879,1.7595,4.29023,7.75762,3.37203
Min,4,2.329,0.66,3.485,0.33,20.1475,0.59
Q1:25%,10,46.013,12.535,7.1,6.1325,34.57,5.48
Q2:50%,14,71.899,19.5,8.555,9.57,39.085,8.15
Q3:75%,20,90.7725,24.845,9.51,10.885,44.185,9.99
Q4:100%,35,157.912,43.31,11.82,18.0137,58.6075,16.755
IQR,10,44.7595,12.31,2.41,4.7525,9.615,4.51
1.5Rule,15,67.1393,18.465,3.615,7.12875,14.4225,6.765
Lesser,-5,-21.1263,-5.93,3.485,-0.99625,20.1475,-1.285
Greater,35,157.912,43.31,13.125,18.0137,58.6075,16.755

In [14]:
lesser,greater=outliercolumn(quantative,des_Data)

Lesser Range []
Greater Range []

In [15]:
cols_selected = ['Tonnage', 'passengers', 'length', 'cabins','crew']

In [16]:
dataset[cols_selected].head()

   Tonnage  passengers  length  cabins    crew
0   30.277        6.94    5.94    3.55   3.550
1   30.277        6.94    5.94    3.55   3.550
2   47.262       14.86    7.22    7.43   6.700
3  110.000       29.74    9.53   14.88  16.755
4  101.353       26.42    8.92   13.21  10.000

In [17]:
df=dataset

In [18]:
X = df[cols_selected].iloc[:,0:4].values    # features matrix 
y = df[cols_selected]['crew'].values        # target variable

In [19]:
X.shape

(158, 4)

In [20]:
y.shape

(158,)

#  One-hot encoding for categorical features

In [21]:
df2=pd.get_dummies(dataset[['Ship_name', 'Cruise_line','Age', 'Tonnage', 'passengers', 'length', 'cabins','passenger_density','crew']],drop_first=True)

In [22]:
df2.head()

,Age,Tonnage,passengers,length,cabins,passenger_density,crew,Ship_name_Allegra,Ship_name_Amsterdam,Ship_name_Arcadia,...,Cruise_line_Oceania,Cruise_line_Orient,Cruise_line_P&O,Cruise_line_Princess,Cruise_line_Regent_Seven_Seas,Cruise_line_Royal_Caribbean,Cruise_line_Seabourn,Cruise_line_Silversea,Cruise_line_Star,Cruise_line_Windstar
0,6,30.277,6.94,5.94,3.55,42.64,3.550,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6,30.277,6.94,5.94,3.55,42.64,3.550,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,26,47.262,14.86,7.22,7.43,31.80,6.700,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,11,110.000,29.74,9.53,14.88,36.99,16.755,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,101.353,26.42,8.92,13.21,38.36,10.000,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Data partitioning into training and testing sets

In [23]:
from sklearn.model_selection import train_test_split
X = dataset[cols_selected].iloc[:,0:4].values     
y = dataset[cols_selected]['crew']

In [24]:
X

array([[ 30.277  ,   6.94   ,   5.94   ,   3.55   ],
       [ 30.277  ,   6.94   ,   5.94   ,   3.55   ],
       [ 47.262  ,  14.86   ,   7.22   ,   7.43   ],
       [110.     ,  29.74   ,   9.53   ,  14.88   ],
       [101.353  ,  26.42   ,   8.92   ,  13.21   ],
       [ 70.367  ,  20.52   ,   8.55   ,  10.2    ],
       [ 70.367  ,  20.52   ,   8.55   ,  10.2    ],
       [ 70.367  ,  20.56   ,   8.55   ,  10.22   ],
       [ 70.367  ,  20.52   ,   8.55   ,  10.2    ],
       [110.239  ,  37.     ,   9.51   ,  14.87   ],
       [110.     ,  29.74   ,   9.51   ,  14.87   ],
       [ 46.052  ,  14.52   ,   7.27   ,   7.26   ],
       [ 70.367  ,  20.52   ,   8.55   ,  10.2    ],
       [ 70.367  ,  20.52   ,   8.55   ,  10.2    ],
       [ 86.     ,  21.24   ,   9.63   ,  10.62   ],
       [110.     ,  29.74   ,   9.51   ,  14.87   ],
       [ 88.5    ,  21.24   ,   9.63   ,  10.62   ],
       [ 70.367  ,  20.52   ,   8.55   ,  10.2    ],
       [ 88.5    ,  21.24   ,   9.63   ,  11.62   ],
       [ 70.367  ,  20.52   ,   8.55   ,  10.2    ],
       [ 88.5    ,  21.24   ,   9.63   ,  10.56   ],
       [101.509  ,  27.58   ,   8.93   ,  13.21   ],
       [110.     ,  29.74   ,   9.52   ,  14.87   ],
       [101.509  ,  27.58   ,   8.93   ,  13.79   ],
       [ 70.606  ,  17.7    ,   8.15   ,   8.75   ],
       [ 91.     ,  20.32   ,   9.65   ,   9.75   ],
       [ 77.713  ,  18.9    ,   8.66   ,   9.35   ],
       [ 91.     ,  20.32   ,   9.65   ,   9.75   ],
       [ 77.713  ,  18.82   ,   8.66   ,   9.35   ],
       [ 91.     ,  20.32   ,   9.65   ,   9.75   ],
       [122.     ,  28.5    ,  10.33   ,   6.87   ],
       [ 91.     ,  20.32   ,   9.65   ,   9.75   ],
       [  2.329  ,   0.94   ,   3.485  ,   0.45   ],
       [ 47.225  ,  13.66   ,   6.82   ,   6.87   ],
       [ 28.43   ,   8.08   ,   6.16   ,   4.1    ],
       [ 85.619  ,  21.14   ,   9.57   ,  10.56   ],
       [ 52.926  ,  13.02   ,   7.18   ,   6.54   ],
       [ 53.872  ,  14.94   ,   7.98   ,   7.67   ],
       [105.     ,  27.2    ,   8.9    ,  13.56   ],
       [105.     ,  27.2    ,   8.9    ,  13.56   ],
       [ 25.     ,   7.76   ,   6.22   ,   3.86   ],
       [ 86.     ,  21.14   ,   9.6    ,  10.56   ],
       [ 53.049  ,  13.44   ,   7.22   ,   6.78   ],
       [112.     ,  38.     ,   9.51   ,  15.     ],
       [ 75.166  ,  19.28   ,   8.28   ,   9.64   ],
       [ 68.     ,  10.8    ,   7.9    ,   5.5    ],
       [ 51.004  ,   9.4    ,   7.81   ,   4.8    ],
       [ 70.327  ,  17.91   ,   9.63   ,   9.5    ],
       [151.4    ,  26.2    ,  11.32   ,  11.34   ],
       [ 90.     ,  20.     ,   9.64   ,  10.29   ],
       [ 83.338  ,  17.5    ,   9.64   ,   8.75   ],
       [ 83.     ,  17.5    ,   9.64   ,   8.75   ],
       [ 61.     ,  13.8    ,   7.8    ,   6.88   ],
       [ 86.     ,  21.04   ,   9.36   ,  10.22   ],
       [ 55.451  ,  12.64   ,   7.19   ,   6.32   ],
       [ 33.92   ,  12.14   ,   7.04   ,   6.07   ],
       [ 81.769  ,  18.48   ,   9.59   ,   9.24   ],
       [ 38.     ,   7.49   ,   6.74   ,   3.96   ],
       [ 59.652  ,  13.2    ,   7.77   ,   6.6    ],
       [ 55.451  ,  12.66   ,   7.19   ,   6.33   ],
       [ 55.451  ,  12.66   ,   7.19   ,   6.33   ],
       [ 55.451  ,  12.66   ,   7.19   ,   6.33   ],
       [ 63.     ,  14.4    ,   7.77   ,   7.2    ],
       [ 53.872  ,  14.94   ,   7.98   ,   7.47   ],
       [ 63.     ,  14.4    ,   7.77   ,   7.2    ],
       [ 85.     ,  18.48   ,   9.51   ,   9.24   ],
       [ 58.6    ,  15.66   ,   8.24   ,   7.83   ],
       [133.5    ,  39.59   ,  10.93   ,  16.37   ],
       [ 58.825  ,  15.6    ,   8.23   ,   7.65   ],
       [ 35.143  ,  12.5    ,   6.69   ,   5.32   ],
       [ 89.6    ,  25.5    ,   9.61   ,  12.75   ],
       [ 59.058  ,  17.     ,   7.63   ,   8.5    ],
       [ 16.852  ,   9.52   ,   5.41   ,   3.83   ],
       [ 58.6    ,  15.66   ,   8.23   ,   7.83   ],
       [ 34.25   ,  10.52   ,   6.15   ,   5.26   ],
       [ 90.     ,  22.4    ,   9.65   ,  11.2    ],
       [ 50.76   ,  17.48   ,   7.54   ,   8.74   ],
       [ 93.     ,  23.94   ,   9.65   ,  11.97   ],
       [ 91.     ,  22.44   ,   9.65   ,  11.22   ],
       [ 38.     ,  10.56   ,   5.67   ,   5.28   ],
       [ 77.104  ,  20.02   ,   8.53   ,  10.01   ],
       [ 81.     ,  21.44   ,   9.21   ,  10.72   ],
       [ 42.     ,  15.04   ,   7.08   ,   7.52   ],
       [ 75.338  ,  19.56   ,   8.79   ,   9.83   ],
       [ 28.     ,  11.5    ,   6.74   ,   4.     ],
       [ 77.104  ,  20.02   ,   8.53   ,  10.01   ],
       [ 50.76   ,  17.48   ,   7.54   ,   8.74   ],
       [ 30.277  ,   6.84   ,   5.94   ,   3.42   ],
       [ 30.277  ,   6.84   ,   5.94   ,   3.42   ],
       [ 30.277  ,   6.84   ,   5.94   ,   3.42   ],
       [ 22.08   ,   8.26   ,   5.78   ,   4.25   ],
       [ 85.     ,  19.68   ,   9.35   ,   9.84   ],
       [ 45.     ,  11.78   ,   7.54   ,   5.3    ],
       [ 76.     ,  18.74   ,   8.86   ,   9.39   ],
       [ 77.     ,  20.16   ,   8.56   ,   9.75   ],
       [ 69.153  ,  18.82   ,   8.53   ,   9.14   ],
       [115.     ,  35.74   ,   9.     ,  15.32   ],
       [116.     ,  26.     ,   9.51   ,  13.     ],
       [ 91.627  ,  19.74   ,   9.64   ,   9.87   ],
       [116.     ,  31.     ,   9.51   ,  15.57   ],
       [ 77.499  ,  19.5    ,   8.56   ,  10.5    ],
       [113.     ,  26.74   ,   9.51   ,  13.37   ],
       [113.     ,  37.82   ,   9.51   ,  15.57   ],
       [108.865  ,  27.58   ,   9.51   ,  13.     ],
       [108.806  ,  26.     ,   9.51   ,  13.     ],
       [ 91.627  ,  19.74   ,   9.64   ,   9.87   ],
       [ 30.277  ,   6.86   ,   5.93   ,   3.44   ],
       [ 69.845  ,  15.9    ,   8.03   ,   7.95   ],
       [ 44.348  ,  12.     ,   7.54   ,   6.     ],
       [113.     ,  26.74   ,   9.51   ,  13.37   ],
       [ 77.499  ,  19.5    ,   8.56   ,   9.75   ],
       [108.977  ,  26.02   ,   9.51   ,  13.01   ],
       [ 77.499  ,  19.5    ,   8.56   ,   9.75   ],
       [ 30.277  ,   6.88   ,   5.93   ,   3.44   ],
       [ 12.5    ,   3.94   ,   4.36   ,   0.88   ],
       [ 50.     ,   7.     ,   7.09   ,   3.54   ],
       [ 33.     ,   4.9    ,   5.6    ,   2.45   ],
       [ 19.2    ,   3.2    ,   5.13   ,   1.6    ],
       [ 46.     ,   7.     ,   6.7    ,   1.82   ],
       [138.     ,  31.14   ,  10.2    ,  15.57   ],
       [ 90.09   ,  25.01   ,   9.62   ,  10.5    ],
       [ 48.563  ,  20.2    ,   6.92   ,   8.     ],
       [ 74.137  ,  19.5    ,   9.16   ,   9.75   ],
       [138.     ,  31.14   ,  10.2    ,  15.57   ],
       [157.91175,  43.31   ,  11.12   ,  18.     ],
       [ 74.137  ,  19.5    ,   9.16   ,   9.75   ],
       [157.91175,  36.34   ,  11.12   ,  18.01375],
       [ 90.09   ,  25.01   ,   9.62   ,  10.94   ],
       [ 70.     ,  18.     ,   8.67   ,   9.     ],
       [157.91175,  43.31   ,  11.25   ,  18.     ],
       [ 73.941  ,  27.44   ,   8.8    ,  11.75   ],
       [138.     ,  31.14   ,  10.2    ,  15.57   ],
       [ 73.941  ,  27.44   ,   8.8    ,  11.77   ],
       [138.     ,  31.14   ,  10.2    ,  15.57   ],
       [157.91175,  43.31   ,  11.82   ,  18.01375],
       [ 90.09   ,  25.01   ,   9.62   ,  10.5    ],
       [ 78.491  ,  24.35   ,   9.15   ,  10.     ],
       [ 90.09   ,  25.01   ,   9.62   ,  10.5    ],
       [ 73.192  ,  28.52   ,   8.8    ,  11.38   ],
       [ 70.     ,  20.76   ,   8.67   ,   9.02   ],
       [ 78.491  ,  24.35   ,   9.15   ,  10.     ],
       [138.     ,  31.14   ,  10.2    ,  15.57   ],
       [ 10.     ,   2.08   ,   4.4    ,   1.04   ],
       [ 10.     ,   2.08   ,   4.4    ,   1.04   ],
       [ 10.     ,   2.08   ,   4.4    ,   1.04   ],
       [ 16.8    ,   2.96   ,   5.14   ,   1.48   ],
       [ 25.     ,   3.82   ,   5.97   ,   1.94   ],
       [ 25.     ,   3.88   ,   5.97   ,   1.94   ],
       [ 16.8    ,   2.96   ,   5.14   ,   1.48   ],
       [  3.341  ,   0.66   ,   3.485  ,   0.33   ],
       [ 19.093  ,   8.     ,   5.37   ,   4.     ],
       [ 42.     ,  14.8    ,   7.13   ,   7.4    ],
       [ 40.053  ,  12.87   ,   5.79   ,   7.76   ],
       [  3.341  ,   0.66   ,   3.485  ,   0.33   ],
       [ 76.8    ,  19.6    ,   8.79   ,   9.67   ],
       [  5.35   ,   1.58   ,   4.4    ,   0.74   ],
       [  5.35   ,   1.67   ,   4.4    ,   0.74   ],
       [ 14.745  ,   3.08   ,   6.17   ,   1.56   ]])

In [25]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.4, random_state=0)

# 6. Building a muilt-regression model

Our machine learning regression model for predicting a ship's "crew" size can be expressed as:

$$ \hat{y}_{i} = w_0 + \sum_{j=1}^{4} X_{ij} w_j $$

In [26]:
from sklearn.linear_model import LinearRegression
slr = LinearRegression()

regressor=slr.fit(X_train, y_train)
y_test_pred = regressor.predict(X_test)

# Evaluation of regression model

In [27]:
from sklearn.metrics import r2_score

print("The r2 for test set:",r2_score(y_test,y_test_pred))

The r2 for test set: 0.9088777678028097

# Regression coefficients

In [28]:
regressor.intercept_

-1.0012589297439574

In [29]:
regressor.coef_

array([ 0.01875221, -0.14002277,  0.43403626,  0.73092915])

 Regularized Regression: Lasso

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.4, random_state=0)

In [31]:
alpha = np.linspace(0.01,0.4,10)

In [32]:
from sklearn.linear_model import Ridge

## training the model

ridgeReg = Ridge(alpha=0.05, normalize=True)

ridgeReg.fit(X_train,y_train)

pred = ridgeReg.predict(X_test)

#calculating mse

mse = np.mean((pred - y_test)**2)
print(mse)

from sklearn.metrics import r2_score
print("The r2 for test set:",r2_score(y_test,pred))

1.1935172189862837
The r2 for test set: 0.8910365860272587

In [33]:
from sklearn.linear_model import Lasso

lassoReg = Lasso(alpha=0.05, normalize=True)

lassoReg.fit(X_train,y_train)

las_pred = lassoReg.predict(X_test)



mse = np.mean((las_pred - y_test)**2)

mse


from sklearn.metrics import r2_score
print("The r2 for test set:",r2_score(y_test,las_pred))

The r2 for test set: 0.875887197392546

In [34]:
from sklearn.linear_model import ElasticNet

ENreg = ElasticNet(alpha=1, l1_ratio=0.5, normalize=False)

ENreg.fit(X_train,y_train)

pred_cv = ENreg.predict(X_test)

#calculating mse

mse = np.mean((pred_cv - y_test)**2)


from sklearn.metrics import r2_score
print("The r2 for test set:",r2_score(y_test,pred_cv))

The r2 for test set: 0.8555463409887064